@inject GoodDefinition Definition

@if (!IsDefinitionReady)
{
    <div class="app-definition-loading">
        <div class="app-spinner" aria-hidden="true"></div>
        <span class="govuk-body-s">Generating definition of good...</span>
    </div>
}
else
{
    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Definition of good</span>
        </summary>
        <div class="govuk-details__text">
            @_definitionHtml
        </div>
    </details>
}

@code {
    [Parameter] public bool IsDefinitionReady { get; set; }

    private MarkupString _definitionHtml;
    private bool _definitionHtmlComputed;

    protected override void OnParametersSet()
    {
        if (IsDefinitionReady && !_definitionHtmlComputed)
        {
            _definitionHtml = MarkdownRenderer.ToMarkupString(Definition.MarkdownContent);
            _definitionHtmlComputed = true;
        }
    }
}
