@inject GoodDefinition Definition
@implements IDisposable

@if (!Definition.IsReady)
{
    <div class="app-definition-loading" aria-live="polite">
        <div class="app-spinner" aria-hidden="true"></div>
        <span class="govuk-body-s">@(string.IsNullOrEmpty(Definition.ProgressMessage) ? "Starting..." : Definition.ProgressMessage)</span>
    </div>
}
else
{
    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Definition of good</span>
        </summary>
        <div class="govuk-details__text">
            @_definitionHtml
        </div>
    </details>
}

@code {
    private MarkupString _definitionHtml;
    private bool _definitionHtmlComputed;

    protected override void OnInitialized()
    {
        Definition.OnChanged += OnDefinitionChanged;
        if (Definition.IsReady)
            RenderDefinition();
    }

    private void OnDefinitionChanged()
    {
        if (Definition.IsReady)
        {
            RenderDefinition();
            Definition.OnChanged -= OnDefinitionChanged;
        }
        _ = InvokeAsync(StateHasChanged);
    }

    private void RenderDefinition()
    {
        if (!_definitionHtmlComputed)
        {
            _definitionHtml = MarkdownRenderer.ToMarkupString(Definition.MarkdownContent);
            _definitionHtmlComputed = true;
        }
    }

    public void Dispose() => Definition.OnChanged -= OnDefinitionChanged;
}
