<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoW Improver</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/govuk-frontend@6.1.0/dist/govuk/govuk-frontend.min.css" />
    <link rel="stylesheet" href="app.css" />

    <HeadOutlet />
</head>
<body class="govuk-template__body">

    <Routes />

    <script src="https://cdn.jsdelivr.net/npm/govuk-frontend@6.1.0/dist/govuk/govuk-frontend.min.js"></script>
    <script>window.GOVUKFrontend.initAll();</script>
    <script src="_framework/blazor.web.js"></script>

</body>
</html>
